<h1>Create a Company</h1>

<%= form_for @company do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br><br>

  <%= f.fields_for :beers do |beer| %>
    <%= beer.label :name %>
    <%= beer.text_field :name %>
    <br><br>

    <%= beer.label :description %>
    <%= beer.text_area :description %>
    <br><br>

    <%= beer.label :abv %>
    <%= beer.text_field :abv %>
    <br><br>

    <%= beer.label :location %>
    <%= beer.text_field :location %>
    <br><br>
  <% end %>

  <%= f.submit %>
<% end %>
