<h3>Edit Beer</h3>

<%= form_tag beer_path(@beer), method: 'PUT' do %>
  <label>Beer Name: </label>
  <%= text_field_tag :name, @beer.name %><br><br>

  <label>Description: </label>
  <%= text_area_tag :description, @beer.description %><br><br>

  <label>ABV(Alcohol by Volume): </label>
  <%= text_field_tag :abv, @beer.abv %><br><br>

  <label>Location: </label><br>
  <%= text_field_tag :location, @beer.location %><br><br>

  <%= submit_tag 'Submit Beer'%>

<% end %>
