<h3>Edit Beer</h3>

<%= form_for @beers do |f| %>
  <%= f.label 'Beer Name:' %>
  <%= f.text_field :name %><br><br>

  <%= f.label 'Description:' %>
  <%= f.text_area :description %><br><br>

  <%= f.label 'ABV(Alcohol by Volume): '%>
  <%= f.text_field :abv %><br><br>

  <%= f.label 'Location' %>
  <%= f.text_field :location %><br><br>

  <%= f.submit 'Submit Beer'%>

<% end %>

<!-- form_for takes care of determining @beer is not a new instance of Beer class and automatically
sends to the update path -->
