<h1>"Imma Buy You a Drank" Beers I have tasted</h1>

<%= link_to 'New Beer', new_beer_path %><br><br>

<div>
  <h3>Filter Beer</h3>
  <%= form_tag('/beer_styles/:id/beers', method: 'get') do %>
    <%= select_tag 'beer_style', options_from_collection_for_select(@beer_styles, 'id', 'name'), include_blank: true %>
    <%= submit_tag 'Filter' %>
  <% end %>
  <!-- attach js event handler, prevent default, grab value of select_tag -->
</div>
<br>

<table>
  <thead><tr>
    <th>Name</th>
    <th></th><th></th>
    <th></th><th></th>
    <th>Delete</th>
  </tr>
  </thead>
  <% @beers.each do |beer| %>
  <tbody>
    <td><%= link_to beer.name, beer_path(beer) %></td>
    <td></td><th></th>
    <td></td><th></th>
    <td><%= link_to 'Delete', beer, method: :delete, data: { confirm: "This is forever, do you really want to delete?" } %></td>
  </tbody>
  <% end %>
</table>
<br><br>

<footer>
  <p><%= link_to 'Logout', logout_path %></p>
</footer>
