<h1>"Imma Buy You a Drank" Beers I have tasted</h1>

<%= link_to 'New Beer', new_beer_path %><br><br>

<div>
  <h3>Filter Beer</h3>
  <%= form_tag('/beers', method: 'get') do %>
    <%= select_tag 'beer', options_from_collection_for_select(Beer.all, 'id', 'name'), include_blank: true %>
    <%= submit_tag 'Filter' %>
  <% end %>
</div>
<br>

<table>
  <thead><tr>
    <th>Name</th>
    <th>Delete</th>
  </tr>
  </thead>
  <% @beers.each do |beer| %>
  <tbody>
    <td><%= link_to beer.name, beer_path(beer) %></td>
    <td><%= link_to 'Delete', beer, method: :delete, data: { confirm: "This is forever, do you really want to delete?" } %></td>
  </tbody>
  <% end %>
</table>
