<h3>Add a New Beer</h3>

<%= form_tag beers_path, method: 'POST' do %>
  <% if @beer.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors: </h2>
      <ul>
        <% @beer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field<%= 'field_with_errors' if @beer.errors[:name].any? %>" >
    <%= label_tag 'name', 'Name' %>
    <%= text_field_tag 'name', @beer.name %>
  </div>

  <div class="field<%= 'field_with_errors' if @beer.errors[:description].any? %>">
    <%= label_tag 'description', 'Description' %>
    <%= text_area_tag 'description', @beer.description %>
  </div>

  <div class="field<%= 'field_with_errors' if @beer.errors[:abv].any? %>">
    <%= label_tag 'abv', 'ABV' %>
    <%= text_field_tag 'abv', @beer.abv %>
  </div>

  <div class="field<%= 'field_with_errors' if @beer.errors[:location].any? %>">
    <%= label_tag 'location', 'Location' %>
    <%= text_field_tag 'location', @beer.location %>
  </div>

  <%= submit_tag 'Create Beer' %>
<% end %>
