<h3>Add a New Beer</h3>

<%= form_for @beer do |f| %>
  <% if @beer.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@beer.errors.count, 'error') %>
      stopped this beer from being saved
    </h2>
    <ul>
      <% @beer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field<%= 'field_with_errors' if @beer.errors[:name].any? %>">
    <label>Name:</label>
    <%= f.text_field :name %>
  </div><br><br>

  <div class="field<%= 'field_with_errors' if @beer.errors[:description].any? %>">
    <label>Description:</label>
    <%= f.text_area :description %>
  </div><br><br>

  <div class="field<%= 'field_with_errors' if @beer.errors[:abv].any? %>">
    <label>ABV(Alcohol by Volume):</label>
    <%= f.text_field :abv %>
  </div><br><br>

  <div class="field<%= 'field_with_errors' if @beer.errors[:location].any? %>">
    <label>Location:</label>
    <%= f.text_field :location %>
  </div><br><br>

  <table>
    <thead><tr>
      <th>Select Company</th>
      <th><th>Or create a new company</th></th>
    </tr>
    </thead>
    <tbody>
      <td><%= f.collection_select :company_id, Company.all, :id, :name, {:include_blank => true} %></td>
      <td><%= f.fields_for :company do |com| %></td> <%#= fields_for provides basic nested forms%>
      <td><%= com.label :name %> <%= com.text_field :name %></td>
      <% end %>
    </tbody>
  </table>
  <br><br>

  <table>
    <thead><tr>
      <th>Select Beer Style</th>
      <th><th>Or create new beer style</th></th>
    </tr>
    </thead>
    <tbody>
      <td><%= f.collection_select :beer_style_id, BeerStyle.all, :id, :name, {:include_blank => true} %></td>
      <td><%= f.fields_for :beer_style do |bs| %></td> <%#= fields_for provides basic nested forms%>
      <td><%= bs.label :name %> <%= bs.text_field :name %></td>
      <% end %>
    </tbody>
  </table>
  <br><br>

  <%= f.submit %>
<% end %>
