<h3>Add a New Beer</h3>

<%= form_for @beer do |f| %>
<%= render 'form' %>

  <table>
    <thead><tr>
      <th>Select Company</th>
      <th><th>Or create a new company</th></th>
    </tr>
    </thead>
    <tbody>
      <td><%= f.collection_select :company_id, Company.all, :id, :name, {:include_blank => true} %></td>
      <td><%= f.fields_for :company do |com| %></td>
      <td><%= com.label :name %> <%= com.text_field :name %></td>
      <% end %>
    </tbody>
  </table>
  <br><br>

  <table>
    <thead><tr>
      <th>Select Beer Style</th>
      <th><th>Or create new beer style</th></th>
    </tr>
    </thead>
    <tbody>
      <td><%= f.collection_select :beer_style_id, BeerStyle.all, :id, :name, {:include_blank => true} %></td>
      <td><%= f.fields_for :beer_style do |bs| %></td>
      <td><%= bs.label :name %> <%= bs.text_field :name %></td>
      <% end %>
    </tbody>
  </table>
  <br><br>

<% end %>
