<h1>Name: <%= @beer.name %></h1>

<p>Description: <%= @beer.description %></p>
<p>ABV(Alcohol by Volume): <%= @beer.abv %>% </p>
<p>Location: <%= @beer.location %></p>
<br>
<h2>Brewing Company: <%= link_to @beer.company_name, @beer.company.name %></h2>
<!-- the beer company is displaying the url of the beer company, not the name
displaying: /companies/1 -->

<%= link_to 'Edit', edit_beer_path(@beer) %>
<%= link_to 'Delete', @beer, method: :delete, data: { confirm: "This is forever, do you really want to delete?" } %>
