<!DOCTYPE html>
<html>
  <head>
    <title>BeerLog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- this is to include CSS manifest -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- this is to include manifest file-->
  </head>

  <body>

    <%= yield %>
  </body>
</html>
