<!DOCTYPE html>
<html>
  <head>
    <title>BeerLog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><%= link_to 'Home', beers_path %></h1>

      <form method="post" action="/logout">
        <input type="submit" value="logout">
      </form>
      <br>

    <%= yield %>
  </body>
</html>
